{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我们</span>
            </div>
            <div class="post-main clearfix">
                <h1 class="post-title">关于我们</h1>
                <div class="post-con clearfix">
                    <div class="article-meta"><span class="item">2019-12-24</span></div>
                    <article class="article-content">
                        <p>湖北省广播电视信息网络股份有限公司（简称湖北广电网络公司，股票名称：湖北广电，股票代码：000665）是由湖北省委、省政府于2011年1月批准成立的省属国有控股大型文化高新技术企业，是党委政府政策声音传播阵地、以及全省广电网络整合、三网融合、数字家庭和智慧城市建设的主体，是湖北省电子政务传输网重点支撑企业，担负着全省广播电视信息网络规划、设计、建设、管理、运营和开发应用等任务。
                        </p>
                        <p>公司2012年荣获中宣部等部委颁发的“全国文化体制改革先进单位”称号，2013年被中国证监会列为全国文化企业并购重组试点单位，2014年被中宣部改发办列为上市文化企业并购重组示范单位，2017年被授予“双百工程”龙头企业称号。</p>
                        <p>湖北广电网络公司成立后，紧紧把握省委、省政府全面深化改革的总要求，相继完成资产重组、非公发行、一体化管理和全省整合顶层设计等重大任务。按照“顶层设计、倒逼机制、底线思维”的原则，实现规模化、集约化、专业化发展，努力建设全国一流广电网络上市企业。</p>
                        <p>公司致力于以“三网融合”为特征的下一代广播电视网建设，致力于以“互联网+”为主攻方向的智慧湖北、智慧城市、智慧社区、智慧家庭和宽带乡村等建设，致力于电视和互联网双主营业务的经营发展；正在按照“云、管、端”战略，加速向电视互联网企业转型，加快向影视媒资内容、电视互联网全业务平台、双向宽带化光纤网络、TVOS智能终端以及全媒体、大数据、云计算等领域布局；努力实现跨界、跨业、跨域，以及“广电文化产业+信息网络技术+沌口产业园区+股权资本投资”多角化、扁平化、集团化发展；公司大力发展数据及信息化业务，为行政事业单位、企业、城市、社区等提供专业的综合信息服务，涵盖电子政务、电子商务、VPN、智能监控、数据分析、社区管理等丰富多彩的信息系统建设及服务。</p>
                        <p>面对激烈的市场竞争，公司加快构建专业化运营体系，积极探索联合运营、跨地域经营，努力实现以湖北广电网络股份公司为主体的“全省一网、全程全网、垂直管理、三级贯通”与“统一规划、统一建设、统一运营、统一管理”，确立电视互联网、文化数字产业园、资本运作和人才兴企“3+1”的发展战略，不断深化企业内部管理，利用资本市场，强力推进“五化”（全员化营销观念、立体化营销策略、差异化市场定位、精准化营销手段、网格化营销管理）营销工程；健全协调运转、有效制衡的公司法人治理结构、科学规范的组织结构、公平合理的分配结构、适应市场的现代化产业结构，建立职业经理人、长效激励约束机制，探索推进财务预算等重大信息公开，加强党的建设、廉政建设、企业文化建设和宣传工作。在不断夯实产业基础上，认真落实“两个责任”，推动广电网络跨越式发展，向“中部领先、全国一流”的目标努力奋斗！</p>
                    </article>

                </div>

            </div>
            <!-- /文章 -->
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            <!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>湖北广电网络，欢迎关注！</p>

                    <img src="{% static "picture/weixinqr.jpg" %}" alt="微信二维码" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:418011010</p>
                    <p>Email：418011010@qq.com</p>
                </div>
            </div>

        </aside>
    </div>
    <!-- /主体 -->
    <!-- 底部 -->
{% endblock %}