{% load static %}
<section class="widget post-right-item">
    <h4 class="post-right-title">热门推荐</h4>
    <ul class="post-hot clearfix">

    {% for k in remen %}
        <li>
            <div class="img">
            <a href="{% url 'index' %}show-{{ k.id }}.html" title="{{ k.title }}">
            <img src="{% url 'index' %}media/{{ k.img }}"
             srcset="{% url 'index' %}media/{{ k.img }}" alt="{{ k.title }}"
                class="wp-post-image" width="120" height="80"/>
            </a>
            </div>
            <div class="text">
            <a href="{% url 'index' %}show-{{ k.id }}.html" title="{{ k.title }}"
                       target="_blank">{{ k.title }}</a>
            </div>
           </li>
    {% endfor %}


    </ul>
</section>


<section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
    <div class="tags">
        {% for tag in tags %}

            <a href="{% url 'index' %}tag/{{ tag.name }}" rel="tag">{{ tag.name }}</a>
        {% endfor %}
    </div>
</section>
<!-- /关注我们 -->
<div class="post-right-item">
    <h4 class="post-right-title">关注我们</h4>
    <div class="wid-about">
        <p>微信扫码使用押韵助手小程序</p>
        <img src="{% static "picture/rhymeqr.jpg" %}" alt="微信二维码" width="160" height="160">
    </div>
    <div class="wid-about">
        <p><strong>联系方式:</strong></p>
        <p>QQ:418011010</p>
        <p>Email：418011010@qq.com</p>
    </div>
</div>
